<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Agregar Acta</title>
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/bootstrap/css/bootstrap-grid.min.css}"
	rel="stylesheet">
<link th:href="@{/css/default.css}" rel="stylesheet">
<link th:href="@{/css/menu.css}" rel="stylesheet">
<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
	rel="stylesheet">
</head>
<body>
	<header th:insert="fragments/header :: header-prin"> </header>
	<div></div>
	<div class="mt-2 col-md-1">
		<br> <br> <br>
	</div>
	<main role="main">
		<div class="container mx-auto">
			<div class="container mx-auto">
				<div class="border-bottom" style="width: 97%">
					<div class="row "
						style="background-color: white; width: 50%; border-radius: 50px 50px 1px 1px; background-color: #1f3140; border: solid #003366">
						<div class="col-12">
							<h3 align="center" style="color: #BBC9B4" id="pageTitle">Agregar
								Acta</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container" id="container"
			style="border-radius: 1px 50px 50px 50px; border: solid #003366">
			<form th:action="@{/act/saveAct}" method="POST" th:object="${act}"
				enctype="multipart/form-data" id="act_form">
				<div class="border-bottom">
					<div class="row">
						<div class="col-3">
							<div class="form-group">
								<label for="form-control col-12" class="form-label">
									Fecha de Sesión </label>
							</div>
						</div>
						<div class="col-4">
							<div class="form-group">
								<div class="col-sm-8">
									<select th:field="*{sessionDate}" class="form-control"
										id="comboSessionDate" name="SessionDate">
										<option th:each="act:${sessions}"
											th:value="${#dates.format(act.sessionDate ,'dd-MM-yyyy')}" th:text="${#dates.format(act.sessionDate ,'dd-MM-yyyy')}" class="form-control"></option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-3">
							<div class="form-group">
								<div class="col-sm-8">
									<label for="form-control col-4" class="form-label">Tipo
										de Sesión*:</label>

								</div>
							</div>
						</div>

						<div class="col-4">
							<div class="form-group">
								<div class="col-sm-8">
									<select th:field="*{sessionType}">
										<option  th:value="ordinaria" th:text="ordinaria"></option>
										<option  th:value="extraordinaria" th:text="extraordinaria"></option>
									</select>
								</div>
							</div>
						</div>
						<div class="form-group files" id="files">
							<label for="form-control" class="form-label"> Inserte
								aquí el pdf* </label> <input type="file" class="form-control" name="pdf"
								id="pdf" placeholder="Inserte aquí el PDF">
						</div>
					</div>
				</div>
					<div class="form-group">
						<div class="row">
							<div class="col-md-4">
								<button type="submit" class="btn btn-outline-success"
									id="okButton" onclick='javascript:submit()'>Agregar</button>
							</div>
							<div class="col-md-4">
								<button type="button" class="btn btn-outline-danger"
									id="cancelButton" onclick='javascript:cancelAction()'>Cancelar</button>
							</div>
						</div>
					</div>
			</form>
		</div>
	</main>
	<script th:src="@{/bootstrap/js/jquery.js}"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>
</body>
</html>