<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/default.css}" rel="stylesheet">
<link rel="shortcut icon" th:href="@{/images/log4.ico}"
	type="image/x-icon">
</head>
<body>
	<div class="container">
		<div class="row">
		<div>
		
		
		</div>"
		
		</div>
		<div class="row">
			<div class="col-6">
				<h4>Actas y Acuerdos Municipalidad San Pablo</h4>

			</div>


		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="table-responsive">
					<table id="tableAct"
						class="table table-striped table-bordered border-info"
						style="width: 100%">
						<thead>
							<tr>
								<th style="text-align: center">Fecha de Sesión</th>
								<th style="text-align: center">Tipo de Sesión</th>
								<th style="text-align: center">Editar</th>
							</tr>
						</thead>
						<tbody id='actList'>
							<tr th:each="act:${listAct}">

								<td th:text="${#dates.format(act.sessionDate,'dd-MM-yyyy')}"></td>
								<td th:text="${act.type}"></td>
								<td><a th:href="@{} (id=${act.sessionDate})}"><button
											type='button' class='btn btn-primary'
											style='text-align: center'>Ver Acuerdos</button></a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

</body>
</html>