<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="header-prin"
	class="navbar navbar-expand-md navbar-light bg-dark fixed-top">

	<button type="button" class="navbar-toggler bg-light"
		data-toggle="collapse" data-target="#nav">

		<span class="navbar-toggler-icon"></span>

	</button>

	<div class="collapse navbar-collapse justify-content-between" id="nav">
		<ul class="navbar-nav">

			<li th:if="${session.roleName != null and (session.roleName=='Secretaria de Alcaldia')}" class="nav-item"><a
				class="nav-link text-light font-weight-bold px-3" th:href="@{/townHall/homeTownHall}">GESTOR
					DE ACUERDOS</a></li>
			<li th:if="${session.roleName != null and (session.roleName=='Concejo Municipal')}"class="nav-item"><a
				class="nav-link text-light font-weight-bold px-3" th:href="@{/}">GESTOR
					DE ACUERDOS</a></li>
			<li sec:authorize="!isAnonymous()" class="nav-item dropdown"><a
				class="nav-link text-light font-weight-bold px-3 dropdown-toggle"
				href="#" id="navbardrop" data-toggle="dropdown"> ACUERDOS </a>
				<div class="dropdown-menu">
					<a th:if="${session.roleName != null and (session.roleName=='Concejo Municipal' or session.roleName=='superuser') }" class="dropdown-item" th:href="@{/accords/addAccord}">Agregar
						Acuerdo</a> 
						<a th:if="${session.roleName != null and (session.roleName=='Concejo Municipal' or session.roleName=='superuser') }"class="dropdown-item" th:href="@{/accords/list}">Lista
						de Acuerdos</a> 
						
						<a th:if="${session.roleName != null and (session.roleName=='Secretaria de Alcaldia' or session.roleName=='superuser') }"class="dropdown-item" th:href="@{/townHall/list}">Lista
						de Acuerdos</a> 
						<a th:if="${session.roleName != null and (session.roleName=='Concejo Municipal' or session.roleName=='superuser') }" class="dropdown-item" th:href="@{/accords/listDepart}">Lista
						de Acuerdo por Departamentos</a>
				</div></li>

			<li th:if="${session.roleName != null and (session.roleName=='Concejo Municipal' or session.roleName=='superuser')}"class="nav-item dropdown"><a
				class="nav-link text-light font-weight-bold px-3 dropdown-toggle"
				href="#" id="navbardrop" data-toggle="dropdown"> ACTAS </a>
				<div class="dropdown-menu">
						<a

							th:if="${session.roleName != null and session.roleName=='Concejo Municipal'}"
							class="dropdown-item" th:href="@{/act/addAct}">Agregar Acta</a> 
          <a
							th:if="${session.roleName != null and session.roleName=='Concejo Municipal'}"
							class="dropdown-item" th:href="@{/act/listAct}">Lista de Actas</a>


					</div>
				
				
				
				
				</li>
				
				<li th:if="${session.roleName != null and (session.roleName=='Concejo Municipal' or session.roleName=='superuser')}"class="nav-item dropdown"><a
				class="nav-link text-light font-weight-bold px-3 dropdown-toggle"
				href="#" id="navbardrop" data-toggle="dropdown"> COMISIONES </a>
				<div class="dropdown-menu"> 
				<a

							th:if="${session.roleName != null and session.roleName=='Concejo Municipal'}"
							class="dropdown-item" th:href="@{/commission/addCommission}">Agregar Comisión</a> 
				</div>
				</li>
				
				<li th:if="${session.roleName != null and session.roleName=='superuser'}" class="nav-item dropdown"><a
				class="nav-link text-light font-weight-bold px-3 dropdown-toggle"
				href="#" id="navbardrop" data-toggle="dropdown"> ADMINISTRACIÓN </a>
				<div class="dropdown-menu">
					<a class="dropdown-item" th:href="@{/administration/addUser}">Agregar
						Usuario</a>
						
					<a class="dropdown-item" th:href="@{/administration/listUser}">Ver Usuarios</a>	
				</div></li>

			<li  sec:authorize="!isAnonymous()" class="nav-item"><a
				class="nav-link text-light font-weight-bold px-3" th:href="@{/administration/goToProfile}">PERFIL</a>

			</li>


			<li sec:authorize="isAnonymous()" class="nav-item"><a
				class="nav-link text-light font-weight-bold px-3"
				th:href="@{/index}">LOGIN</a></li>

			<li sec:authorize="!isAnonymous()" class="nav-item"><a
				class="nav-link text-light font-weight-bold px-3"
				th:href="@{/logout}">LOGOUT</a></li>
				
				<li sec:authorize="!isAnonymous()" class="nav-item"><a
				 id='subscribeAnchor' class="nav-link text-light font-weight-bold px-3"
				></a></li>

		</ul>


	</div>

</nav>

<script th:src="@{/js/subscription.js}"></script>
</body>
</html>