<nav th:fragment="header-prin" class="navbar navbar-expand-md navbar-light bg-dark fixed-top">

	<!-- <a class="navbar-brand"><img src="img/dish.png"></a> -->

	<button type="button" class="navbar-toggler bg-light"
		data-toggle="collapse" data-target="#nav">

		<span class="navbar-toggler-icon"></span>

	</button>

	<div class="collapse navbar-collapse justify-content-between" id="nav">

		<ul class="navbar-nav">

			<li class="nav-item"><a
				class="nav-link text-light font-weight-bold px-3" href="#">Gestor de Acuerdos</a>

			</li>

			<li class="nav-item dropdown" data-toggle="dropdown"><a
				class="nav-link text-light font-weight-bold px-3 dropdown-toggle"
				href="#">ACUERDOS</a>

				<div class="dropdown-menu">

					<a class="dropdown-item" th:href="@{/accords/addAccord}">Agregar Acuerdo</a> 
					<a
						class="dropdown-item" href="#">Ver Acuerdos</a> 
				</div></li>

			<li class="nav-item"><a
				class="nav-link text-light font-weight-bold px-3" th:href="@{/accords/addAccord}">ACTAS</a></li>

			<li class="nav-item"><a
				class="nav-link text-light font-weight-bold px-3" href="#">PERFIL</a>

			</li>
			
			
			<li class="nav-item"><a
				class="nav-link text-light font-weight-bold px-3" href="#">LOGIN</a>

			</li>

		</ul>


	</div>

</nav>