<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Agregar Acuerdo</title>
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/default.css}" rel="stylesheet">
<link th:href="@{/css/menu.css}" rel="stylesheet">
<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
	rel="stylesheet">
</head>
<body>
	<header th:insert="fragments/header :: header-prin"> </header>
	<div class="mt-2 col-md-1">
		<br> <br> <br>
	</div>

		<div>
		
		<h3>Hola Alcaldia</h3>
		</div>
		

</body>



</html>