
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<head>
<title>Login</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="/js/graphics2.js"></script>
	
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

</head>
<body>


	<body>
	<img class="wave" th:src="@{/images/wave.png}">
	<div class="container">
		<div class="img">
			<img th:src="@{/images/muni1.png}">
		</div>
		<div class="login-content">
			<form method="POST" id="loginForm" th:action="@{/login}">
				<img th:src="@{/images/user.png}">
				<h2 class="title">Bienvenido</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Usuario</h5>
           		   		<input type="text" class="input" id="username" name="username" value="" required>
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Contraseña</h5>
           		    	<input type="password" class="input" id="password" name="password" value="" required>
           		    	<input type="hidden"
									th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            	   </div>
            	</div>
            	<a href="#">Forgot Password?</a>
<button type="submit" name="button" class="btn">Login</button>

							<div th:if="${errorMessage != null}" class='alert alert-danger'
								th:text="${errorMessage}" role='alert'
								style='margin-top: 20px; height: 40px;'></div>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="js/main.js"></script>
    


</body>
</html>