<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add User</title>
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/default.css}" rel="stylesheet">
<link th:href="@{/css/menu.css}" rel="stylesheet">
<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
	rel="stylesheet">
</head>
<body>
	<header th:insert="fragments/header :: header-prin"> </header>
	<div class="mt-2 col-md-1">
		<br> <br> <br>
	</div>
	<main role="main">

		<div class="container mx-auto">
			<div class="container mx-auto">
				<div class="border-bottom" style="width: 97%">
					<div class="row "
						style="background-color: white; width: 50%; border-radius: 50px 50px 1px 1px; background-color: #1f3140; border: solid #003366">
						<div class="col-12">
							<h3 align="center" style="color: #BBC9B4" id="pageTitle">Agregar
								Usuario</h3>

						</div>
					</div>
				</div>
			</div>
			<div class="container" id="container"
				style="border-radius: 1px 50px 50px 50px; border: solid #003366">
				<form th:action="@{/administration/saveUser}" method="POST"
					th:object="${user}" enctype="multipart/form-data" id="user_form">
					<div class="border-bottom">
						<div class="row">
							<div class="col-8 ">
								<div class="form-group">
									<label for="email">Correo electrónico</label> <input
										type="email" class="form-control" th:field="*{tempUser.email}"
										id="email" aria-describedby="emailHelp"
										placeholder="Enter email" required>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-8">
								<div>
									<label for="email">Nombre Completo</label> <input type="text"
										class="form-control" th:field="*{tempUser.name}" id="name"
										required>
								</div>
							</div>
						</div>
						<div class="border-bottom">
							<div class="form-group">

								<div class="row">
									<div class="col-8">

										<label for="form-control col-6" class="form-label">
											Departamento: </label> <select th:field=*{department.id}
											class="form-control" id="comboDepartments" name="department"
											onchange='javascript:putVisible()'>
											<option th:each="department:${departments}"
												th:value="${department.id}" th:text="${department.name}"></option>
											<option th:value=-1 >No se encuentra</option>
										</select>
									</div>

								</div>
							</div>
							<div class="col">
								<div class="row">

									<div class="col-4">
										<div>
											<label id="labelName" for="form-control col-9"
												class="form-label" style="visibility: hidden">Nombre
												del Deparmento</label> <input type="hidden" class="form-control"
												id="nameDepartment" name="nameDeparment" required>
										</div>
									</div>
								</div>
								<div class="col-8">

									<label for="form-control col-6" class="form-label">
										Roles: </label> <select th:object=${role} class="form-control"
										id="comboRoles" name="role"
										onchange='javascript:visibleRoles()'>
										<option th:each="role:${roles}" th:value="${role.id}"
											th:text="${role.name}"></option>
										<option th:value=-2 >No se encuentra</option>
									</select>
								</div>
								<div class="row">

									<div class="col-4">
										<div>
											<label id="labelRole" for="form-control col-9"
												class="form-label" style="visibility: hidden">Nombre
												del Rol</label> <input type="hidden" class="form-control"
												id="nameRole" name="nameRole" required>
										</div>
									</div>
								</div>
							</div>

						</div>
						<div class="col">
							<div class="row">

								<div class="col-4">
									<div>
										<label id="labelName" for="form-control col-9"
											class="form-label">Contraseña</label> <input type="password"
											class="form-control" id="password" name="password">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-md-4">
								<button type="submit" class="btn btn-outline-success"
									id="okButton">Agregar</button>
							</div>
							<div class="col-md-4">
								<button type="button" class="btn btn-outline-danger"
									id="cancelButton" onclick='javascript:cancelAction()'>Cancelar</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</main>

	<script th:src="@{/bootstrap/js/jquery.js}"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/addUser.js}"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>
</body>
</html>